<template>
  <div
    class="i-timeline-horizontal"
  >
    <template
      v-for="(item, index) in data"
    >
      <span
        class="i-timeline-horizontal__item-wrapper"
        v-bind:class="{
          'i-timeline-horizontal__item-wrapper_completed': item.completed,
          'i-timeline-horizontal__item-wrapper_attention': item.attention,
          'i-timeline-horizontal__item-wrapper_negative': item.negative,
          'i-timeline-horizontal__item-wrapper_neutral': item.neutral
        }"
      >
        <div
          class="i-timeline-horizontal__item"
        >
          <div
            v-if="item.title"
            class="i-timeline-horizontal__title"
            v-bind:class="{ 'text-weight-medium': (index + 1 !== data.length && data[index + 1].active) || item.negative || (index + 1 === data.length && item.completed) }"
          >
            {{ item.title }}
          </div>
          <div
            class="i-timeline-horizontal__icon"
            v-bind:class="{ 'i-timeline-horizontal__icon_completed': item.completed, 'i-timeline-horizontal__icon_active': item.active }"
          >
            <q-icon v-bind:name="item.icon" />
          </div>
          <div class="i-timeline-horizontal__message">
            <div
              v-if="item.message"
              class="i-timeline-horizontal__message-content"
            >
              {{ item.message }}
            </div>
            <div class="i-timeline-horizontal__message-actions">
              <i-button
                v-for="(action, index) in item.actions"
                :key="index"
                size="9px"
                color="primary"
                outline
                :label="action.label"
                @click="action.onClick"
              />
            </div>
          </div>
        </div>
      </span>
      <div
        v-if="index + 1 !== data.length"
        class="i-timeline-horizontal__line i-timeline-horizontal__line_horizontal"
      />
    </template>
  </div>
</template>

<script>
  import iButton from "../../buttons/i-button"

  export default {
    props: {
      data: {
        active: Boolean,
        completed: Boolean,
        attention: Boolean,
        negative: Boolean,
        neutral: Boolean,
        title: String,
        icon: String,
        color: String,
        message: String,
      }
    },
    components: {
      iButton,
    },
  }
</script>

<style lang="stylus">
  .i-timeline-horizontal
    display: flex
    position: relative
    padding: 15px 0
    overflow-x: auto
    width: 100%
    align-items: flex-start
    overflow-y: hidden

    /*@media screen and (max-width: 1910px)*/
    /*  padding: 15px 0*/

    /*@media screen and (max-width: 1440px)*/
    /*  padding: 15px 0*/

    &_vertical
      flex-direction: column

    &__line
      border-top-width: 2px
      border-top-style: solid
      flex: auto
      border-color: $color20
      position: relative

      &_horizontal
        height: 0
        margin: 71px -44px 0 -44px
        min-width: 87px
        max-width: 92px

        /*@media screen and (max-width: 1910px)
          min-width: 37px
          margin: 67px -45px 0 -45px

        @media screen and (max-width: 1440px)
          min-width: 37px
          margin: 67px -24px 0 -24px*/

      &_vertical
        height: 34px
        min-width: 1px
        border-left-width: 2px
        border-left-style: solid

    &__item-wrapper
      display: flex
      align-items: center
      position: relative
      &_attention
        & .i-timeline-horizontal__title
          color: $negative
        & .i-timeline-horizontal__icon
          color: $color24
          background: $color23
          border-color: $color23
      &_negative
        & .i-timeline-horizontal__title
          color: $negative
        & .i-timeline-horizontal__icon
          color: $negative
          background: $negative2
          border-color: $negative2
      &_neutral
        & .i-timeline-horizontal__title
          color: $color9
        & .i-timeline-horizontal__icon
          color: $color2
          background: $color25
          border-color: $color25
      &_completed
        & .i-timeline-horizontal__title
          color: $color9

    &__title
      margin-bottom: 10px
      height: 42px
      overflow: hidden
      display: flex
      flex-direction: column
      justify-content: flex-end
      text-align: center
      width: 100% // для IE
      color: $color2
      font-size: 14px
      letter-spacing: 0.48px
      line-height: 14px

      /*@media screen and (max-width: 1910px)
        font-size: 14px

      @media screen and (max-width: 1440px)
        font-size: 10px*/

    &__message
      text-align: center
      width: 100% // для IE
      height: 100%
      font-size: 14px
      letter-spacing: 0.48px
      line-height: 16px
      color: $color2
      margin-top: 15px
      &-content
        margin-bottom: 8px

      /*@media screen and (max-width: 1910px)
        font-size: 14px

      @media screen and (max-width: 1440px)
        font-size: 10px*/

    &__message-actions
      display: flex
      flex-direction: column

      & button
        margin-bottom: 4px
        margin-right: 3px
        font-size: 12px!important
        padding: 0 11px
        min-height: 24px

    &__item
      display: flex
      flex-direction: column
      align-items: center
      z-index: 2
      width: 151px
      min-width: 151px
      padding: 0 3px

      /*@media screen and (max-width: 1910px)
        width: 134px
        min-width: 134px

      @media screen and (max-width: 1440px)
        width: 93px
        min-width: 93px*/

      &_completed
        color: inherit

      &_additional
        transform: translate(-35%, 15%)
        position: absolute

        /*@media screen and (max-width: 1910px)
          transform: translate(-31%, 0%)

        @media screen and (max-width: 1440px)
          transform: translate(-31%, 0%)*/

    &__icon
      display: flex
      justify-content: center
      align-items: center
      width: 40px
      height: 40px
      background: #FFFFFF
      color: transparent
      border-radius: 100%
      border: 2px solid $color20
      font-size: 24px

      /*@media screen and (max-width: 1910px)
        width: 35px
        height: 35px

      @media screen and (max-width: 1440px)
        width: 35px
        height: 35px*/

      & i
        font-size: 22px
        height: 22px
        width: 22px

        /*@media screen and (max-width: 1910px)
          font-size: 22px
          height: 22px
          width: 22px

        @media screen and (max-width: 1440px)
          font-size: 20px
          height: 20px
          width: 20px*/

      &_completed
        background: $color21
        border-color: $color21

        & i
          color: $color22

      &_active
        & i
          color: #fff
</style>
