<template>
  <horizontal
    v-if="displayMode === 'horizontal'"
    v-bind:data="data"
  />
  <vertical
    v-else-if="displayMode === 'vertical'"
    v-bind:data="data"
  />
</template>

<script>
  import iButton from "../../buttons/i-button"
  import horizontal from "./horizontal"
  import vertical from "./vertical"

  export default {
    props: {
      mode: String,
      data: {
        active: Boolean,
        completed: Boolean,
        attention: Boolean,
        negative: Boolean,
        neutral: Boolean,
        title: String,
        icon: String,
        color: String,
        message: String,
      }
    },
    data () {
      return {
        displayMode: 'horizontal',
      }
    },
    created () {
      if (this.mode) {
        this.displayMode = this.mode;
      }
    },
    watch: {
      'mode': function () {
        this.displayMode = this.mode;
      }
    },
    components: {
      iButton,
      horizontal,
      vertical,
    },
  }
</script>

<style lang="stylus">

</style>
