<template>
  <q-timeline class="i-timeline-vertical">
    <q-timeline-entry
      v-for="(item, index) in data"
      v-bind:key="index"
      v-bind:subtitle="item.title"
      v-bind:icon="item.icon"
      v-bind:class="{
        'i-timeline-vertical__item-wrapper_completed': item.completed,
        'i-timeline-vertical__item-wrapper_attention': item.attention,
        'i-timeline-vertical__item-wrapper_negative': item.negative,
        'i-timeline-vertical__item-wrapper_neutral': item.neutral,
        'i-timeline-vertical_bold-title': (index + 1 !== data.length && data[index + 1].active) || item.negative || (index + 1 === data.length && item.completed)
      }"
    >
      <div class="i-timeline-vertical__message">

        <div
          v-if="item.message"
          class="i-timeline-vertical__message-content"
        >
          {{ item.message }}
        </div>

        <div class="i-timeline-vertical__message-actions">
          <i-button
            v-for="(action, index) in item.actions"
            v-bind:key="index"
            size="9px"
            color="primary"
            outline
            v-bind:label="action.label"
            v-on:click="action.onClick"
          />
        </div>
      </div>
    </q-timeline-entry>
  </q-timeline>
</template>

<script>
  import { QTimeline, QTimelineEntry } from "quasar"
  import iButton from "../../buttons/i-button"

  export default {
    props: {
      data: {
        active: Boolean,
        completed: Boolean,
        attention: Boolean,
        negative: Boolean,
        neutral: Boolean,
        title: String,
        icon: String,
        color: String,
        message: String,
      }
    },
    components: {
      QTimeline,
      QTimelineEntry,
      iButton,
    },
  }
</script>

<style lang="stylus">
  .i-timeline-vertical
    & .q-timeline__subtitle
      text-transform: none
      font-weight: inherit
      opacity: 1
      overflow: hidden
      width: 100%
      color: $color2
      font-size: 14px
      letter-spacing: 0.48px
      line-height: 16px

    & .q-timeline__title
      margin: 0

    & .q-timeline__subtitle
      margin-bottom: 0
      padding-top: 12px

    & .q-timeline__dot:after
      opacity: 1
      background: $color20
      width: 2px
      left: 19px
      top: 48px
      bottom: 8px

    & .q-timeline__dot:before
      width: 40px
      height: 40px
      top: 0
      color: #FFF!important
      border: 2px solid $color20

    &_bold-title .q-timeline__subtitle
      font-weight: 500

    &__item-wrapper_completed
      & .q-timeline__dot:before
        color: $color21!important
        border-color: $color21
      & .q-timeline__dot i
        color: $color22!important
      & .q-timeline__subtitle
        color: $color9

    &__item-wrapper_attention
      & .q-timeline__dot:before
        color: $color23!important
        border-color: $color23
      & .q-timeline__dot i
        color: $color24!important
      & .q-timeline__subtitle
        color: $negative

    &__item-wrapper_negative
      & .q-timeline__dot:before
        color: $negative2!important
        border-color: $negative2
      & .q-timeline__dot i
        color: $negative!important
      & .q-timeline__subtitle
        color: $negative

    &__item-wrapper_neutral
      & .q-timeline__dot:before
        color: $color25!important
        border-color: $color25
      & .q-timeline__dot i
        color: $color2!important
      & .q-timeline__subtitle
        color: $color9

    & .q-timeline__entry--icon .q-timeline__dot
      width: 40px

    & .q-timeline__dot .q-icon
      width: 40px
      height: 40px
      font-size: 22px

    & .q-timeline__entry--icon .q-timeline__dot:after
      top: 48px
      bottom: 8px
      left: 19px

    & .q-timeline__dot
      display: flex
      justify-content: center
      align-items: center
      width: 40px
      font-size: 24px

      & img
        width: 22px!important
        height: auto!important
        font-size: 22px!important
        margin: 0 auto
        padding-top: 0
        margin-top: 8px

    & .q-timeline__content
      min-height: 87px

    &.q-timeline--dense--right .q-timeline__dot
      left: -8px

    &__message
      margin: 0
      width: 100%
      height: 100%
      font-size: 14px
      letter-spacing: 0.48px
      line-height: 16px
      color: $color2
      &-content
        margin-top: 8px

    &__message-actions
      & button
        margin-top: 16px
        margin-right: 3px
        font-size: 12px!important
        padding: 0 11px
        min-height: 24px
</style>
