<template>
  <q-btn
    class="i-btn"
    v-ripple="{ color: 'indigo-2' }"
    v-bind:color="color"
    v-bind:label="label"
    v-bind:text-color="textColor"
    v-bind:disable="disable"
    v-bind:icon="icon"
    v-bind:flat="flat"
    v-bind:round="round"
    v-bind:outline="outline"
    v-bind:size="size"
    v-on:click="$emit('click')"
    unelevated
  >
    <slot></slot>
  </q-btn>
</template>

<script>
  import { QBtn } from "quasar"

  export default {
    props: {
      disable: Boolean,
      flat: Boolean,
      round: Boolean,
      outline: Boolean,
      label: String,
      color: String,
      textColor: String,
      icon: String,
      click: Function,
      size: String,
    },
    data () {
      return {
      }
    },
    components: {
      QBtn
    },
  }
</script>

<style lang="stylus">
  .i-btn
    transition: opacity 0.36s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1)
    font-size: 14px
    letter-spacing: 1.26px
    line-height: 16px
    &:focus
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2)
      opacity: .8!important
    &:disabled
      opacity: 1!important
      box-shadow: none!important
      background: $color11!important
      & .q-btn__content
        color: $color2
      & i
        color: $color6
    &.q-btn--rectangle
      border-radius: 4px
    &.q-btn--outline
      border-color: rgba(0,0,0,0.12)
      &:disabled
        background: initial!important
    &.q-btn--flat
      & .q-btn__content
        color: $color2
      &.q-btn--round .q-btn__content
        color: $color6
    &.q-btn--flat, &.q-btn--outline
      &:hover, &:focus
        box-shadow: none
      &:focus
        opacity: .9!important
    &:hover
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2)
    &__content
      font-size: 14px
      letter-spacing: 1.26px
      line-height: 16px
    &.q-hoverable:hover > .q-focus-helper
      opacity: .07!important
    &.q-focusable:focus > .q-focus-helper
      opacity: .26!important
</style>
