<template>
  <q-chip
    class="i-chip"
    outline
    v-bind:clickable="clickable"
    v-bind:removable="removable"
    v-bind:disable="disable"
  >
    <slot></slot>
  </q-chip>
</template>

<script>
  export default {
    props: {
      color: String,
      clickable: Boolean,
      removable: Boolean,
      disable: Boolean,
    },
    data () {
      return {
        model: true,
      }
    },
    components: {
      QChip
    },
  }

  import { QChip } from "quasar"
</script>

<style lang="stylus">
  .i-chip
    &.q-chip
      color: $color9
      font-size: 13px
      letter-spacing: 0.22px
      line-height: 12px
      border-color: rgba(0,0,0,0.12)
      border-radius: 4px
      background: #FFF
      height: auto

    & .q-chip__content
       white-space: normal
    & .q-chip__icon
        color: $color6
    & .q-chip__icon:hover
      color: $color2
    & .q-chip__icon--remove
        margin-left: 48px

    &.q-chip--clickable
      font-weight: 500
      color: $color10
      padding: 7px 30px
    &.q-chip--clickable:focus
      border-color: $primary
      color: $primary
      background: $ripple
      box-shadow: none!important
    &.q-chip--clickable:hover
      background: $color14
    &.q-chip--clickable:active
      border-color: rgba(0,0,0,0.12)
      background: #FFF!important
      color: $color10
    &.q-chip--clickable:active.q-hoverable:hover > .q-focus-helper:after
      opacity: 1
    &.disabled
      font-weight: 500
      opacity: 1!important
      color: $color13

</style>
