<template>
  <q-card
    @click="() => {
      if (redirect) redirect()
    }"
    class="i-grid-card i-grid-add-card"
  >
    <q-icon class="i-grid-add-card__add-icon" name="add_circle_outline" size="50px" />
    <slot name="menu" />
  </q-card>
</template>

<style lang="stylus">

</style>

<script>
  import { QCard } from 'quasar'

  export default {
    props: {
      redirect: Function,
    },
    components: {
      QCard,
    }
  }
</script>
