<template>
  <div>
    <div
      v-if="show"
      class="i-403-warning fixed-center text-center"
    >
      <p>
        <img
          src="~assets/sad.svg"
          style="width:30vw;max-width:150px;"
        >
      </p>
      <p class="text-faded">{{ $t('403') }} <strong>(403)</strong></p>
    </div>
    <slot v-else></slot>
  </div>
</template>

<script>
  export default {
    props: {
      show: Boolean,
    },
  }
</script>

<style lang="stylus">

</style>
