<template>
  <q-banner class="i-banner">
    <template
      v-slot:avatar
    >
      <slot name="avatar"></slot>
    </template>
    <slot></slot>
    <template
      v-slot:action
    >
      <slot name="action"></slot>
    </template>
  </q-banner>
</template>

<script>
  import { QBanner } from "quasar"

  export default {
    props: {
      inlineActions: Boolean
    },
    components: {
      QBanner
    },
  }
</script>

<style lang="stylus">
  .i-banner
    .q-banner__content
      font-weight: 500
      font-size: 15px
      letter-spacing: 0.27px
      line-height: 24px
      color: $color9

    &_white
      background: #FFF
      border-bottom: 1px solid $color18

    &_danger
      background: $color19
</style>
