<template>
  <div class="i-chip-list">
    <q-chip
      v-for="chip in chipList"
      class="i-chip i-chip_white"
      :key="chip._id"
      @remove="() => chip.remove && chip.remove()"
      :removable="chip.remove"
      outline
    >
      {{ chip.label }}
    </q-chip>
  </div>
</template>

<script>
  import { QChip } from "quasar"

  export default {
    props: {
      chipList: Array
    },
    components: {
      QChip
    },
  }
</script>

<style lang="stylus">

</style>
