<template>
  <div class="i-empty">
    <div class="i-empty__text">
        <p class="i-empty__title">
          <slot name="title"></slot>
        </p>
        <p class="i-empty__subtitle">
          <slot name="subtitle"></slot>
        </p>
    </div>
    <div class="i-empty__img">
        <slot name="img"></slot>
    </div>
  </div>
</template>

<script>
</script>

<style lang="stylus">
  .i-empty
    &__title
      font-size: 22px
      margin: 8px 0
      text-align: center
    &__subtitle
      text-align: center
      color: $color27
      white-space: normal
      font-size: 15px
</style>
