<template>
  <q-expansion-item
    v-bind="$attrs"
    class="i-expansion-item"
  >
    <div class="i-expansion-item__content">
      <slot></slot>
    </div>
  </q-expansion-item>
</template>

<script>
  import { QExpansionItem } from "quasar"

  export default {
    components: {
      QExpansionItem
    },
  }
</script>

<style lang="stylus">
  .i-expansion-item
    margin-bottom: 24px
    background: #fff
    border-radius: 4px
    box-shadow: 0 10px 20px 0 rgba(46,91,255,0.07)

    & .q-expansion-item__toggle-icon
      color: $color2

    & .q-item, &__content
      padding: 10px 32px

    & .q-item__label
      font-weight: 500
      font-size: 15px
      letter-spacing: 0.27px
      line-height: 24px
      color: $color9

    & .q-item--clickable
      padding: 16px 16px 16px 32px

</style>
