<template>
  <q-separator class="i-separator" />
</template>

<script>
  import { QSeparator } from "quasar"

  export default {
    components: {
      QSeparator
    },
  }
</script>

<style lang="stylus">
  .i-separator
    background: $color9
    opacity: .12
</style>
