<template>
  <q-tab
    class="i-tab"
    v-bind:name="name"
    v-bind:label="label"
    color="primary"
  />
</template>

<script>
  import { QTab } from "quasar"

  export default {
    props: {
      name: String,
      label: String,
    },
    data () {
      return {
      }
    },
    components: {
      QTab
    },
  }
</script>

<style lang="stylus">
  .i-tab
    font-size: 14px
    letter-spacing: 1.26px
    line-height: 16px
    color: $color2
    padding: 0 40px
    & .q-focus-helper
      color: $primary
</style>
