<template>
  <q-table
    class="i-table"
    :class="{
     'sticky-header-column-table': stickyHeader,
     'sticky-first-column-table': stickyFirstColumn,
     'sticky-last-column-table': stickyLastColumn,
     'i-table_responsive': mode === 'responsive' || mode === 'test',
     'i-table_test': mode === 'test',
    }"
    :data="data"
    :columns="columns"
    :row-key="rowKey"
    :rows-per-page-label="rowsPerPageLabel"
    :allRowsLabel="allRowsLabel"
    :pagination-label="getPaginationLabel"
    :no-data-label="noDataLabel"
    :loading="loading"
    :loading-label="loadingLabel"
    :sorting-label="sortingLabel"
  >
    <template
      v-if="mode === 'responsive' || mode === 'test'"
      v-slot:header="props"
    >
    </template>

    <template
      v-if="mode === 'responsive' || mode === 'test'"
      v-slot:body="props"
    >
      <q-tr :props="props">
        <div
          class="i-table__items-wrapper"
        >
          <div
            v-for="(item, index) in props.cols"
            v-bind:key="index"
            class="i-table__item-wrapper"
          >
            <div class="i-table__item">
              <div class="i-table__item-label">
                {{props.cols[index].label}}
              </div>
              <div class="i-table__item-value">
                <span
                  v-if="item.html"
                  v-html="item.value"
                />
                <component
                  v-else-if="item.component"
                  v-bind="item.value"
                >
                </component>
                <span
                  v-else="!item.html"
                >{{ item.value }}</span>
              </div>
            </div>
          </div>
          <q-td
            v-if="actions"
            align="right"
            style="vertical-align: top;position: absolute;top: 0;right: 0;height: auto;border: none;"
          >
            <i-button round flat icon="more_vert">
              <q-menu
                anchor="bottom left"
                self="top middle"
                auto-close
              >
                <q-list
                  v-for="action in actions.actions"
                  v-bind:key="action.key"
                >
                  <q-item clickable v-on:click="() => { action.onClick(props.row) }">
                    <q-item-section>{{ action.label }}</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </i-button>
          </q-td>
        </div>
      </q-tr>
    </template>
    <template
      v-else
      v-slot:body="props"
    >
      <q-tr :props="props">
        <q-td
          v-for="(item, index) in props.cols"
          v-bind:key="index"
        >
          <span
            v-if="item.html"
            v-html="item.value"
          />
          <component
            v-else-if="item.component"
            v-bind="item.value"
          >
          </component>
          <span
            v-else="!item.html"
          >{{ item.value }}</span>
        </q-td>
        <q-td
          v-if="actions"
          align="right"
        >
          <i-button round flat icon="more_vert">
            <q-menu
              anchor="bottom left"
              self="top middle"
              auto-close
            >
              <q-list
                v-for="action in actions.actions"
                v-bind:key="action.key"
              >
                <q-item clickable v-on:click="() => { action.onClick(props.row) }">
                  <q-item-section>{{ action.label }}</q-item-section>
                </q-item>
              </q-list>
            </q-menu>
          </i-button>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
  import IButton from '../buttons/i-button'
  import ISelect from '../form-controls/i-select'
  import { QTd, QTr, QMenu, QTable } from 'quasar'

  export default {
    props: {
      data: Array,
      rowsPerPageLabel: String,
      allRowsLabel: String,
      paginationLabel: String,
      noDataLabel: String,
      columns: Array,
      actions: Object,
      rowKey: String,
      stickyHeader: Boolean,
      stickyFirstColumn: Boolean,
      stickyLastColumn: Boolean,
      loading: Boolean,
      loadingLabel: String,
      sortingLabel: String,
      mode: String,
    },
    methods: {
      getPaginationLabel: function (start, end, total) {
        return start + '-' + end + ` ${this.paginationLabel || 'of'} ` + total
      },
    },
    components: {
      QTable,
      QTd,
      QTr,
      QMenu,
      IButton,
      ISelect
    },
  }
</script>

<style lang="stylus">
  .grid-no-margin
    margin: 0 -12px

  .q-table tbody td:before, .q-table tbody td:after
    background: none

  .q-table .selected
    background: $color37

  .i-table
    & .i-item-card
      display: flex!important

    & .i-grid-card-no-with
      display: table!important
      table-layout: fixed
      width: 100%
      height: 100%

    & .i-grid-card-no-with-content
      display: table-row
      height: 100%

    & .q-table__middle
      min-height: 0

    & .q-table__progress, & .q-table__progress th
      height: 0!important

    & .q-linear-progress, & .q-linear-progress__model
      width: 100%!important
      max-width: 100%!important

    &__expanded-main-row
      background: $color30

    &__expanded-row
      border-color: $color6!important
      border-left: 3px solid

    & .i-grid-add-card
      background: none
      box-shadow: none
      border: 2px solid $color20
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer
      min-height: 298px
      height: auto
      &__add-icon
        color: $color20

    & .i-grid-card
      margin: 12px
      width: 256px
      display: flex
      flex-direction: column

      @media screen and (max-width: 320px)
        margin: 12px 0

      & .q-card__section
        padding: 16px 16px

      & .i-grid-card-actions
        & .q-card__section
          padding-right: 8px
          padding-bottom: 11px

      &-content
        flex-grow:1

    &.q-table--grid
      & .q-table__middle
        background: initial
    & .q-table__top
      padding-bottom: 0
      padding-left: 0
      padding-right: 0
      height: 100%!important

    &_responsive
      width: fit-content
      & tbody
        & tr
          &:nth-child(odd)
            background-color: $color29
    &_test
      & .i-table__item
        display: flex
      & .i-table__item-label
        width: 120px
        display: flex
        align-items: center
        margin-right: 8px

      & .i-table__item-wrapper
          max-width: 256px!important
    &__items-wrapper
      display: flex
      flex-wrap: wrap
      position: relative
    &__item-wrapper
      max-width: 181px
      min-width: 128px
      padding: 13px 16px 11px 16px
      position: relative

      @media screen and (min-width: 768px)
        max-width: 300px

      @media screen and (min-width: 1024px)
        max-width: 300px

      @media screen and (min-width: 1440px)
        max-width: 350px

    &__item-label
      text-transform: uppercase
      font-size: 10px
      letter-spacing: 0.93px
      line-height: 15px
      font-weight: 500
      color: $color2
    &__item-value
      overflow-x: auto

    &.sticky-header-column-table
      /*
        specifying max-width so the example can
        highlight the sticky column on any browser window
      */
      /*max-width 600px*/

      /* max height is important */
      /*.q-table__middle
        max-height 200px*/

      .q-table__top,
      tr:first-child th /* bg color is important for th; just specify one */
        background-color: #FFF

      tr:first-child th
        position sticky
        top 0
        opacity 1 /* opacity is important */
        z-index 2 /* higher than z-index for td below */

      tr:first-child th:first-child
        z-index 3 /* highest z-index */

    &.sticky-first-column-table
      td:first-child /* bg color is important for td; just specify one */
        background-color: #FFF

      td:first-child
        z-index 1

      td:first-child, th:first-child
        position sticky
        left 0

    &.sticky-last-column-table
      td:last-child /* bg color is important for td; just specify one */
        background-color: #FFF

      td:last-child
        z-index 1

      td:last-child, th:last-child
        position sticky
        right 0

    &.q-table__card
      background-color: none
      background: none
      box-shadow: none

    & .q-table__middle
      background: #FFF
      border-radius: 4px

    & .q-table__middle-wrapper
      box-shadow: 0 10px 20px 0 rgba(46,91,255,0.07)
      border-radius: 4px

    & .q-table__control
      font-size: 12px
      letter-spacing: 0.41px
      line-height: 16px
      color: $color27
      & .i-btn:disabled
        background: initial!important
      & .q-field__native
        color: $color27
        font-size: 12px
        letter-spacing: 0.41px
        line-height: 16px

    & .q-table tbody tr:hover
      background: $color28!important

    & tbody
      & tr
        & td
          padding: 13px 16px 11px 16px
          white-space: pre-wrap
          vertical-align: top

    & tr
      & td
        border-color: $color26
        font-size: 15px
        letter-spacing: 0.48px
        line-height: 28px
        color: $color9
    & thead
      border-color: $color26
      & tr th
        height: 56px
        color: $color2
        opacity: 1
        text-transform: uppercase
        font-size: 10px
        letter-spacing: 0.93px
        line-height: 15px
        font-weight: 500
        border-color: $color26;
      & div
        max-width: 130px
        overflow: hidden
        text-overflow: ellipsis
        display: -webkit-box
        white-space: normal
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        width: fit-content
        & .q-checkbox__bg
          width: 45%
        & .q-checkbox__check-indet
          width: 100%
      & i
        font-size: 24px

    & .q-table__bottom
      border: none
      border-color: $color26

    & .q-table th.sorted .q-table__sort-icon, & th.sorted
      opacity: 1!important

    & .q-table__progress .q-linear-progress
      bottom: 0

    & .q-table__linear-progress
      position: absolute
</style>
