<template>
  <div class="flex items-center">
    <q-icon name="o_people" size="24px" class="icon-people" />
    <span>{{ value }}</span>
  </div>
</template>

<style lang="stylus">
  .icon-people
    color: $color6
    margin-right: 5px
</style>

<script>
  export default {
    name: 'peopleDisplay',
    props: {
      value: Number,
    },
    data() {
      return {
      }
    },
  }
</script>
