<template>
  <q-page class="flex flex-center" style="background: #fafafa;">
    <div class="q-pa-md">
      <div class="q-gutter-y-md column" style="max-width: 900px">
        <div class="q-pa-md q-gutter-sm">
          <i-banner
            class="i-banner_white"
          >
            <template v-slot:avatar>
              <q-icon name="signal_wifi_off" color="blue-grey-2" />
            </template>
            В Альте отсутствует ТД с комментарием
            <template v-slot:action>
              <i-button flat color="primary" label="Dismiss" />
              <i-button flat color="primary" label="Update Credit Card" />
            </template>
          </i-banner>
          <i-banner
            class="i-banner_white"
          >
            В Альте отсутствует ТД с комментарием
            <template v-slot:action>
              <i-button flat color="primary" label="Dismiss" />
              <i-button flat color="primary" label="Update Credit Card" />
            </template>
          </i-banner>
          <i-banner
            class="i-banner_danger"
          >
            В Альте отсутствует ТД с комментарием
            <template v-slot:action>
              <i-button flat color="primary" label="Dismiss" />
              <i-button flat color="primary" label="Update Credit Card" />
            </template>
          </i-banner>
        </div>
      </div>
    </div>
  </q-page>
</template>

<style>

</style>

<script>
  import iBanner from "../components/layout/i-banner"
  import iButton from "../components/buttons/i-button"
  import iSeparator from "../components/layout/i-separator"

  export default {
    components: {
      iBanner,
      iButton,
      iSeparator,
    },
  }
</script>
