<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <div class="q-gutter-y-md column" style="max-width: 900px">
        <div class="q-pa-md q-gutter-sm">
          <i-button color="primary" label="Button" />
          <i-button disable color="primary" label="Button" />
        </div>
        <div class="q-pa-md q-gutter-sm">
          <i-button icon="add" color="primary" label="Button" />
          <i-button icon="add" disable color="primary" label="Button" />
        </div>
        <div class="q-pa-md q-gutter-sm">
          <i-button flat color="primary" label="Button" />
          <i-button disable flat color="primary" label="Button" />
        </div>
        <div class="q-pa-md q-gutter-sm">
          <i-button flat icon="add" color="primary" label="Button" />
          <i-button flat icon="add" disable color="primary" label="Button" />
        </div>
        <div class="q-pa-md q-gutter-sm">
          <i-button outline color="primary" label="Button" />
          <i-button outline disable color="primary" label="Button" />
        </div>
        <div class="q-pa-md q-gutter-sm">
          <i-button outline icon="add" color="primary" label="Button" />
          <i-button outline icon="add" disable color="primary" label="Button" />
        </div>
      </div>
    </div>
  </q-page>
</template>

<style>

</style>

<script>
  import iButton from "../components/buttons/i-button"

  export default {
    components: {
      iButton
    },
    data () {
      return {
      }
    }
  }
</script>
