<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <div class="q-gutter-y-md column" style="max-width: 900px">
        <div class="q-pa-md q-gutter-sm">
          <i-checkbox color="secondary" v-model="model" />
          <i-checkbox color="secondary" label="Label" v-model="model" />
          <i-checkbox disable color="secondary" v-model="model" />
        </div>
      </div>
    </div>
  </q-page>
</template>

<style>

</style>

<script>
  import iCheckbox from "../components/form-controls/i-checkbox"

  export default {
    components: {
      iCheckbox
    },
    data () {
      return {
        model: false
      }
    }
  }
</script>
