<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <div class="q-gutter-y-md column" style="max-width: 900px">
        <div class="q-pa-md q-gutter-sm">
          <i-chip
            removable
          >
            Enabled
          </i-chip>
        </div>
        <div class="q-pa-md q-gutter-sm">
          <i-chip
            clickable
          >
            Enabled
          </i-chip>
          <i-chip
            clickable
            disable
          >
            Enabled
          </i-chip>
        </div>
      </div>
    </div>
  </q-page>
</template>

<style>

</style>

<script>
  import iChip from "../components/buttons/i-chip"

  export default {
    components: {
      iChip
    },
    data () {
      return {

      }
    }
  }
</script>
