<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <div class="q-gutter-y-md column" style="max-width: 900px">
        <div class="q-pa-md q-gutter-sm">
          <i-button color="primary" label="Confirm" @click="d1 = true" />
          <i-button color="primary" label="Confirm" @click="d2 = true" />
          <i-button color="primary" label="Confirm" @click="d3 = true" />

          <i-dialog v-model="d1" persistent>
            <q-card>
              <q-card-section class="row items-center">
                <span class="text-weight-medium">Иди и победи</span>
              </q-card-section>

              <q-card-actions align="right">
                <i-button flat label="Отмена" color="primary" v-close-popup />
                <i-button flat label="Да!" color="primary" v-close-popup />
              </q-card-actions>
            </q-card>
          </i-dialog>

          <i-dialog v-model="d2" persistent>
            <q-card>
              <q-card-section>
                <div class="text-h6">Заголовок</div>
              </q-card-section>

              <q-card-section class="row items-center">
                <p>Сегодня этот текст используют практически все дизайнеры, набирающие рыбу кириллицей.</p>
              </q-card-section>

              <q-card-actions align="right">
                <i-button flat label="Отмена" color="primary" v-close-popup />
                <i-button flat label="Да!" color="primary" v-close-popup />
              </q-card-actions>
            </q-card>
          </i-dialog>

          <i-dialog v-model="d3" persistent>
            <q-card>
              <q-card-section>
                <div class="text-h6">Заголовок</div>
              </q-card-section>

              <i-separator />

              <q-card-section style="max-height: 50vh" class="scroll">
                <p v-for="n in 15" :key="n">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repellendus sit voluptate voluptas eveniet porro. Rerum blanditiis perferendis totam, ea at omnis vel numquam exercitationem aut, natus minima, porro labore.</p>
              </q-card-section>

              <i-separator />

              <q-card-actions align="right">
                <i-button flat label="Отмена" color="primary" v-close-popup />
                <i-button flat label="Да!" color="primary" v-close-popup />
              </q-card-actions>
            </q-card>
          </i-dialog>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
  import iButton from "../components/buttons/i-button"
  import iDialog from "../components/popups-modals/i-dialog"
  import iSeparator from "../components/layout/i-separator"

  import { QCard, QCardSection, QAvatar, QCardActions } from "quasar"

  export default {
    components: {
      iButton,
      iDialog,
      iSeparator,

      QCard,
      QCardSection,
      QAvatar,
      QCardActions
    },
    data () {
      return {
        d1: false,
        d2: false,
        d3: false,
      }
    },
  }
</script>

<style>

</style>

