<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <div class="q-gutter-y-md column" style="max-width: 300px">
        <h2 id="standard" class="doc-h2">Standard</h2>
        <i-input placeholder="Input placeholder" v-model="model" />
        <i-input label="Заголовок" v-model="model" required />
        <i-input label="Input label" placeholder="Input placeholder" v-model="model" />
        <i-input hint="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."  error-message="Field is required" v-model="model" />
        <i-input label="Input label" placeholder="Input placeholder" v-model="model">
          <template v-slot:append>
            <q-icon name="o_visibility"/>
          </template>
        </i-input>
        <i-input label="Input label" placeholder="Input placeholder" disable readonly v-model="model" />
        <i-input
          label="Input label"
          placeholder="Input placeholder"
          hint="Lorem ipsum dolor sit amet"
          error-message="Field is required"
          v-bind:error="true"
          v-model="model"
        >
          <template v-slot:append>
            <q-icon name="o_visibility" />
          </template>
        </i-input>
        <i-input
          label="Input label"
          placeholder="Input placeholder"
          hint="Lorem ipsum dolor sit amet"
          error-message="Field is required"
          v-bind:error="true"
          disable
          readonly
          v-model="model"
        >
          <template v-slot:append>
            <q-icon name="o_visibility" />
          </template>
        </i-input>
      </div>
    </div>
    <div class="q-pa-md">
      <div class="q-gutter-y-md column" style="max-width: 300px">
        <h2 id="mini" class="doc-h2">Mini</h2>
        <i-input mode="mini" placeholder="Input placeholder" v-model="model" />
        <i-input mode="mini" label="Input label" v-model="model" />
        <i-input mode="mini" hint="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." v-model="model" />
        <i-input mode="mini" label="Input label" placeholder="Input placeholder" v-model="model">
          <template v-slot:append>
            <q-icon name="o_visibility" />
          </template>
        </i-input>
        <i-input mode="mini" label="Input label" placeholder="Input placeholder" disable readonly v-model="model" />
        <i-input
          mode="mini"
          label="Input label"
          placeholder="Input placeholder"
          hint="Lorem ipsum dolor sit amet"
          error-message="Field is required"
          v-bind:error="true"
          v-model="model"
        >
          <template v-slot:append>
            <q-icon name="o_visibility" />
          </template>
        </i-input>
        <i-input
          mode="mini"
          label="Input label"
          placeholder="Input placeholder"
          hint="Lorem ipsum dolor sit amet"
          error-message="Field is required"
          v-bind:error="true"
          disable
          readonly
          v-model="model"
        >
          <template v-slot:append>
            <q-icon name="o_visibility" />
          </template>
        </i-input>
      </div>
    </div>
  </q-page>
</template>

<style>

</style>

<script>
  import iInput from "../components/form-controls/i-input"

  export default {
    data () {
      return {
        model: '',
      }
    },
    components: {
      iInput
    },
  }
</script>
