<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <div class="q-gutter-y-md column" style="max-width: 300px">
        <a-link href="#" class="i-link">Тестовая ссылка</a-link>
        <a-link href="#" class="i-link i-link_dashed">Тестовая ссылка</a-link>
      </div>
    </div>
  </q-page>
</template>
