<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <div class="q-gutter-y-md column" style="max-width: 900px">
        <div class="q-pa-md q-gutter-sm">
          <i-button color="primary" label="Нажми на меня" v-on:click="showNotify()" />
          <i-button color="primary" label="Нажми на меня" v-on:click="showNotify1()" />
          <i-button color="primary" label="Нажми на меня" v-on:click="showNotify2()" />
          <i-button color="primary" label="Нажми на меня" v-on:click="showNotify3()" />
          <i-button color="primary" label="Нажми на меня" v-on:click="showNotify4()" />
          <i-button color="primary" label="Нажми на меня" v-on:click="showNotify5()" />
        </div>
      </div>
    </div>
  </q-page>
</template>

<style>

</style>

<script>
  import iButton from "../components/buttons/i-button"

  export default {
    components: {
      iButton
    },
    methods: {
      showNotify (position) {
        this.$q.notify({
          textColor: 'white',
          message: 'Что-то произошло',
          position: 'bottom-left',
          timeout: Math.random() * 5000 + 3000
        })
      },
      showNotify1 (position) {
        this.$q.notify({
          textColor: 'white',
          message: 'Что-то произошло, и отменить нельзя, кнопки-то нет Что-то произошло, и отменить нельзя, кнопки-то нет Что-то произошло, и отменить нельзя, кнопки-то нет',
          position: 'bottom-left',
          multiLine: true,
          timeout: Math.random() * 5000 + 3000
        })
      },
      showNotify2 (position) {
        this.$q.notify({
          textColor: 'white',
          message: 'Что-то произошло',
          position: 'bottom-left',
          actions: [ { label: 'Button', handler: () => console.log('wooow') } ],
          timeout: Math.random() * 5000 + 3000
        })
      },
      showNotify3 (position) {
        this.$q.notify({
          textColor: 'white',
          message: 'Что-то произошло, и отменить нельзя, кнопки-то нет Что-то произошло, и отменить нельзя, кнопки-то нет Что-то произошло, и отменить нельзя, кнопки-то нет',
          position: 'bottom-left',
          actions: [ { label: 'Button', handler: () => console.log('wooow') } ],
          timeout: Math.random() * 5000 + 3000
        })
      },
      showNotify4 (position) {
        this.$q.notify({
          textColor: 'white',
          message: 'Что-то произошло, и отменить нельзя, кнопки-то нет Что-то произошло, и отменить нельзя, кнопки-то нет Что-то произошло, и отменить нельзя, кнопки-то нет',
          multiLine: true,
          position: 'bottom-left',
          actions: [ { label: 'Button', handler: () => console.log('wooow') } ],
          timeout: Math.random() * 5000 + 3000
        })
      },
      showNotify5 (position) {
        this.$q.notify({
          textColor: 'white',
          message: 'Что-то произошло',
          icon: 'favorite',
          position: 'bottom-left',
          timeout: Math.random() * 5000 + 3000
        })
      }
    }
  }
</script>
