<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <div class="q-gutter-y-md column" style="max-width: 900px">
        <div class="q-pa-md q-gutter-sm">
          <i-button flat label="Сбросить значения" color="primary" @click="reset" />
          <i-toggle v-model="disable" color="secondary" label="Disabled" />
        </div>
        <div class="q-pa-md q-gutter-sm">
          <i-radio v-bind:disable="disable" v-model="radio" color="secondary" val="radio" />
          <br>
          <i-radio v-bind:disable="disable" v-model="radio" color="secondary" val="radio1" label="Label" />
        </div>
      </div>
    </div>
  </q-page>
</template>

<style>

</style>

<script>
  import { QRadio } from "quasar"
  import iRadio from "../components/form-controls/i-radio"
  import iToggle from "../components/form-controls/i-toggle"
  import iButton from "../components/buttons/i-button"

  export default {
    components: {
      iRadio,
      iButton,
      QRadio,
      iToggle
    },
    data () {
      return {
        radio: 'radio',
        disable: false,
      }
    },
    methods: {
      reset: function() {
        this.radio = 'radio';
      }
    }
  }
</script>
