<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md q-gutter-sm">
      <i-button flat label="Сбросить значения" color="primary" @click="reset" />
    </div>
    <div class="q-pa-md">
      <div class="q-gutter-y-md column" style="max-width: 300px">
        <h2 id="standard" class="doc-h2">Standard</h2>
        <i-select
          placeholder="Input placeholder"
          label="Заголовок"
          required
          hint="Lorem ipsum dolor sit amet"
          error-message="Field is required"
          v-model="model"
        >
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-italic text-grey">
                No options slot
              </q-item-section>
            </q-item>
          </template>
        </i-select>
        <i-select
          placeholder="Input placeholder"
          label="Заголовок"
          required
          :options="options"
          hint="Lorem ipsum dolor sit amet"
          error-message="Field is required"
          v-model="model"
        >
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-italic text-grey">
                No options slot
              </q-item-section>
            </q-item>
          </template>
        </i-select>
        <i-select
          placeholder="Input placeholder"
          label="Заголовок"
          required
          :options="options"
          hint="Lorem ipsum dolor sit amet"
          error-message="Field is required"
          disable
          readonly
          v-model="model"
        >
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-italic text-grey">
                No options slot
              </q-item-section>
            </q-item>
          </template>
        </i-select>
        <i-select
          placeholder="Input placeholder"
          label="Заголовок"
          required
          :options="options"
          hint="Lorem ipsum dolor sit amet"
          error-message="Field is required"
          v-bind:error="true"
          v-model="model"
        >
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-italic text-grey">
                No options slot
              </q-item-section>
            </q-item>
          </template>
        </i-select>
      </div>
    </div>
    <div class="q-pa-md">
      <div class="q-gutter-y-md column" style="max-width: 300px">
        <h2 id="mini" class="doc-h2">Mini</h2>
        <i-select
          mode="mini"
          placeholder="Input placeholder"
          label="Заголовок"
          required
          hint="Lorem ipsum dolor sit amet"
          error-message="Field is required"
          v-model="model"
        >
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-italic text-grey">
                No options slot
              </q-item-section>
            </q-item>
          </template>
        </i-select>
        <i-select
          mode="mini"
          placeholder="Input placeholder"
          label="Заголовок"
          required
          :options="options"
          hint="Lorem ipsum dolor sit amet"
          error-message="Field is required"
          v-model="model"
        >
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-italic text-grey">
                No options slot
              </q-item-section>
            </q-item>
          </template>
        </i-select>
        <i-select
          mode="mini"
          placeholder="Input placeholder"
          label="Заголовок"
          required
          :options="options"
          hint="Lorem ipsum dolor sit amet"
          error-message="Field is required"
          disable
          readonly
          v-model="model"
        >
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-italic text-grey">
                No options slot
              </q-item-section>
            </q-item>
          </template>
        </i-select>
        <i-select
          mode="mini"
          placeholder="Без фона"
          label="Заголовок"
          required
          :options="options"
          hint="Lorem ipsum dolor sit amet"
          error-message="Field is required"
          v-model="model"
          withoutBackground
        >
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-italic text-grey">
                No options slot
              </q-item-section>
            </q-item>
          </template>
        </i-select>
        <i-select
          mode="mini"
          placeholder="Input placeholder"
          label="Заголовок"
          required
          :options="options"
          hint="Lorem ipsum dolor sit amet"
          error-message="Field is required"
          v-bind:error="true"
          v-model="model"
        >
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-italic text-grey">
                No options slot
              </q-item-section>
            </q-item>
          </template>
        </i-select>
      </div>
    </div>
  </q-page>
</template>

<style>

</style>

<script>
  import iSelect from "../components/form-controls/i-select"
  import iButton from "../components/buttons/i-button"

  export default {
    components: {
      iSelect,
      iButton
    },
    data () {
      return {
        model: null,
        options: [
          'Google', 'Facebook', 'Twitter', 'Apple', 'Oracle'
        ],
      }
    },
    methods: {
      reset: function () {
        this.model = null;
      }
    }
  }
</script>
