<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <div class="q-gutter-y-md column" style="max-width: 900px">
        <div class="q-pa-md q-gutter-sm">
          <q-tabs
            v-model="tab"
            active-color="primary"
            indicator-color="primary"
          >
            <i-tab name="mails" label="Tab" />
            <i-tab name="alarms" label="Alarms" />
          </q-tabs>
        </div>
      </div>
    </div>
  </q-page>
</template>

<style>

</style>

<script>
  import { QTabs } from "quasar"
  import iTab from "../components/layout/i-tab"

  export default {
    components: {
      iTab,
      QTabs
    },
    data () {
      return {
        tab: 'mails'
      }
    }
  }
</script>
