<template>
  <q-page style="background: #fafafa;padding: 28px 32px;">
    <i-table
      v-bind:data="data"
      v-bind:columns="columns"
      rowKey="name"
      v-bind:stickyHeader="false"
      v-bind:stickyFirstColumn="false"
      v-bind:stickyLastColumn="false"
      v-bind:actions="actions"
    />

    <i-table
      v-bind:data="getTableData()"
      v-bind:columns="columns1"
      rowKey="name"
      v-bind:stickyHeader="false"
      v-bind:stickyFirstColumn="false"
      v-bind:stickyLastColumn="false"
      v-bind:actions="actions"
    />

    <i-table
      v-bind:data="data"
      v-bind:columns="columns"
      v-bind:actions="actions"
      rowKey="name"
      v-bind:stickyHeader="false"
      v-bind:stickyFirstColumn="false"
      v-bind:stickyLastColumn="false"
      mode="responsive"
    />

    <i-table
      v-bind:data="getTableData()"
      v-bind:columns="columns1"
      v-bind:actions="actions"
      rowKey="name"
      v-bind:stickyHeader="false"
      v-bind:stickyFirstColumn="false"
      v-bind:stickyLastColumn="false"
      mode="responsive"
    />

    <h1>Тест - отображение лайбла в одну строку с контентом</h1>
    <i-table
      v-bind:data="getTableData()"
      v-bind:columns="columns1"
      v-bind:actions="actions"
      rowKey="name"
      v-bind:stickyHeader="false"
      v-bind:stickyFirstColumn="false"
      v-bind:stickyLastColumn="false"
      mode="test"
    />
  </q-page>
</template>

<style>

</style>

<script>
  import iTable from "../components/layout/i-table"
  import peopleDisplay from "../components/layout/peopleDisplay"
  import { QTable, QTd, QTr } from 'quasar'

  export default {
    data() {
      return {
        data: [
          {
            name: 'Frozen Yogurt',
            calories: 159,
            fat: 6.0,
            carbs: 24,
            protein: 4.0,
            sodium: 87,
            calcium: '14%',
            iron: '1%'
          },
          {
            name: 'Ice cream sandwich',
            calories: 237,
            fat: 9.0,
            carbs: 37,
            protein: 4.3,
            sodium: 129,
            calcium: '8%',
            iron: '1%'
          },
          {
            name: 'Eclair',
            calories: 262,
            fat: 16.0,
            carbs: 23,
            protein: 6.0,
            sodium: 337,
            calcium: '6%',
            iron: '7%'
          },
          {
            name: 'Cupcake',
            calories: 305,
            fat: 3.7,
            carbs: 67,
            protein: 4.3,
            sodium: 413,
            calcium: '3%',
            iron: '8%'
          },
          {
            name: 'Gingerbread',
            calories: 356,
            fat: 16.0,
            carbs: 49,
            protein: 3.9,
            sodium: 327,
            calcium: '7%',
            iron: '16%'
          },
          {
            name: 'Jelly bean',
            calories: 375,
            fat: 0.0,
            carbs: 94,
            protein: 0.0,
            sodium: 50,
            calcium: '0%',
            iron: '0%'
          },
          {
            name: 'Lollipop',
            calories: 392,
            fat: 0.2,
            carbs: 98,
            protein: 0,
            sodium: 38,
            calcium: '0%',
            iron: '2%'
          },
          {
            name: 'Honeycomb',
            calories: 408,
            fat: 3.2,
            carbs: 87,
            protein: 6.5,
            sodium: 562,
            calcium: '0%',
            iron: '45%'
          },
          {
            name: 'Donut',
            calories: 452,
            fat: 25.0,
            carbs: 51,
            protein: 4.9,
            sodium: 326,
            calcium: '2%',
            iron: '22%'
          },
          {
            name: 'KitKat',
            calories: 518,
            fat: 26.0,
            carbs: 65,
            protein: 7,
            sodium: 54,
            calcium: '12%',
            iron: '6%'
          }
        ],
        columns: [
          {
            name: 'desc',
            required: true,
            label: 'Dessert (100g serving)',
            align: 'left',
            field: row => row.name,
            format: val => `${val}`,
            sortable: true,
          },
          { name: 'calories', label: 'Calories', field: 'calories', sortable: true },
          { name: 'fat', label: 'Fat (g)', field: 'fat', sortable: true },
          { name: 'carbs', label: 'Carbs (g)', field: 'carbs' },
          { name: 'protein', label: 'Protein (g)', field: 'protein' },
          { name: 'sodium', label: 'Sodium (mg)', field: 'sodium' },
          { name: 'calcium', label: 'Calcium (%)', field: 'calcium', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
          { name: 'iron', label: 'Iron (%)', field: 'iron', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
        ],
        data1: [
          {
            name: 'Barkon Gemi Acentaligi Tic ve A.S.',
            region: 'Europe',
            country: 'Turkey',
            city: 'Izmir',
            emails: 'dkaplankiran@barkonship.com',
            agentManagerCount: 1,
            agentManagerCountWithAccessToViewAgentRequestList: 1,
            agentManagerCountWithAccessToAgentRequestProcessing: 0
          },
          {
            name: 'John Ripard & Son Shipping Limited',
            region: 'Африка',
            country: 'Мальта',
            city: 'Malta',
            emails: 'jvella@jripard.com',
            agentManagerCount: 1,
            agentManagerCountWithAccessToViewAgentRequestList: 1,
            agentManagerCountWithAccessToAgentRequestProcessing: 0
          },
          {
            name: 'FESCO Integrated Transport',
            region: 'Europa',
            country: 'Russia',
            city: 'Saint Petersburg',
            emails: 'IGrigoreva@fesco.com',
            agentManagerCount: 1,
            agentManagerCountWithAccessToViewAgentRequestList: 1,
            agentManagerCountWithAccessToAgentRequestProcessing: 0
          },
          {
            name: 'FESCO Integrated Transport ',
            region: 'Europe',
            country: 'Russia',
            city: 'Novorossiysk',
            emails: 'AAzovskiy@fesco.com',
            agentManagerCount: 1,
            agentManagerCountWithAccessToViewAgentRequestList: 1,
            agentManagerCountWithAccessToAgentRequestProcessing: 0
          },
          {
            name: 'FESCO Integrated Transport ',
            region: 'Европа',
            country: 'Россия',
            city: 'Saint Petersburg',
            emails: 'Thomas.PATERSON@benlineagencies.com, VEPotapov@fesco.com, ARadchenko@fesco.com',
            agentManagerCount: 1,
            agentManagerCountWithAccessToViewAgentRequestList: 1,
            agentManagerCountWithAccessToAgentRequestProcessing: 0
          },
        ],
        columns1: [
          { name: 'name', label: 'Наименование', field: 'name', sortable: true, html: true },
          { name: 'region', label: 'Регион', field: 'region', sortable: true },
          { name: 'country', label: 'Страна', field: 'country', sortable: true },
          { name: 'city', label: 'Город', field: 'city', sortable: true },
          { name: 'emails', label: 'E-mail', field: 'emails', sortable: true },
          { name: 'agentManagerCount', label: 'Агенты', field: 'agentManagerCount', sortable: true, component: true },
          { name: 'agentManagerCountWithAccessToViewAgentRequestList', label: 'Менеджеры: просмотр запросов агентов', field: 'agentManagerCountWithAccessToViewAgentRequestList', sortable: true, component: true },
          { name: 'agentManagerCountWithAccessToAgentRequestProcessing', label: 'Менеджеры: обработка запросов агентов', field: 'agentManagerCountWithAccessToAgentRequestProcessing', sortable: true, component: true },
        ],
        actions: {
          mode: 'menu',
          actions: [
            {
              key: 'test',
              label: 'Редактировать',
              onClick: (row) => {console.log(row)}
            },
            {
              key: 'test1',
              label: 'Удалить',
              onClick: (row) => {console.log(row)}
            }
          ],
        }
      }
    },
    methods: {
      getTableData: function () {
        return this.data1.map((row, index) => {
          let item = { ...row };

          item._name = item.name;
          item.name = `<a-link href="/order-23.2/agent/${item.id}" class="i-link">${item.name}</a-link>`;

          item.agentManagerCount = {
            is: peopleDisplay,
            value: item.agentManagerCount
          };
          item.agentManagerCountWithAccessToViewAgentRequestList = {
            is: peopleDisplay,
            value: item.agentManagerCountWithAccessToViewAgentRequestList
          };
          item.agentManagerCountWithAccessToAgentRequestProcessing = {
            is: peopleDisplay,
            value: item.agentManagerCountWithAccessToAgentRequestProcessing
          };

          return item;
        })
      },
    },
    components: {
      iTable,
      peopleDisplay,
      QTable,
      QTd
    },
  }
</script>
