<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <div class="q-gutter-y-md column" style="max-width: 300px">
        <i-text label="Лейбел" v-bind:value="value" />
      </div>
    </div>
  </q-page>
</template>

<style>

</style>

<script>
  import iText from "../components/form-controls/i-text"

  export default {
    data () {
      return {
        value: 'Какой-то текст',
      }
    },
    components: {
      iText
    },
  }
</script>
