<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md" style="width: 100%">
      <div class="q-gutter-y-md column" style="max-width: 900px">
        <div class="q-pa-md q-gutter-sm">
          <i-timeline v-bind:data="timelineData" />
          <i-timeline v-bind:data="timelineData1" />
          <i-timeline v-bind:data="timelineData2" />
          <i-timeline mode="vertical" v-bind:data="timelineData3" />
        </div>
      </div>
    </div>
  </q-page>
</template>

<style>

</style>

<script>
  import iTimeline from "../components/layout/i-timeline/index"

  export default {
    data () {
      return {
        timelineData: [
          {
            title: 'Запрос на доступ отправлен',
            message: '16.08.2019 в 15:15:49',
            completed: true,
            icon: 'check',
          },
          {
            title: 'Доступ согласован агентом',
            message: '16.08.2019 в 15:15:49',
            completed: true,
            icon: 'check',
          },
          {
            title: 'Доступ согласован клиентом',
            active: true,
          },
          {
            title: 'Доступ предоставлен',
          }
        ],
        timelineData1: [
          {
            title: 'Запрос на доступ отправлен',
            message: '16.08.2019 в 15:15:49',
            completed: true,
            icon: 'check',
          },
          {
            title: 'Доступ согласован агентом',
            negative: true,
            icon: 'assignment',
            actions: [
              {
                label: 'Подробнее',
                onClick: function() {
                  console.log(`click`)
                }
              }
            ]
          },
          {
            title: 'Доступ согласован клиентом',
            active: true,
          },
          {
            title: 'Доступ предоставлен',
          }
        ],
        timelineData2: [
          {
            title: 'ДС сгенерирован',
            message: '16.08.2019 в 15:15:49',
            completed: true,
            icon: 'check',
            actions: [
              {
                label: 'Скачать',
                onClick: function() {
                  console.log(`click`)
                }
              }
            ]
          },
          {
            title: 'Загрузите скан подписанного ДС',
            attention: true,
            icon: 'assignment',
            actions: [
              {
                label: 'Загрузить',
                onClick: function() {
                  console.log(`click`)
                }
              }
            ]
          },
          {
            title: 'Запрос на доступ приянт',
            active: true,
          },
          {
            title: 'Запрос на доступ обрабатывается',
          },
          {
            title: 'Доступ предоставлен',
          }
        ],
        timelineData3: [
          {
            title: 'ДС сгенерирован',
            message: '16.08.2019 в 15:15:49',
            completed: true,
            icon: 'check',
            actions: [
              {
                label: 'Скачать',
                onClick: function() {
                  console.log(`click`)
                }
              }
            ]
          },
          {
            title: 'Загрузите скан подписанного ДС',
            attention: true,
            icon: 'assignment',
            actions: [
              {
                label: 'Загрузить',
                onClick: function() {
                  console.log(`click`)
                }
              }
            ]
          },
          {
            title: 'Запрос на доступ приянт',
            active: true,
          },
          {
            title: 'Запрос на доступ обрабатывается',
          },
          {
            title: 'Доступ предоставлен',
          }
        ]
      }
    },
    components: {
      iTimeline,
    },
  }
</script>
