<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <div class="q-gutter-y-md column" style="max-width: 900px">
        <div class="q-pa-md q-gutter-sm">
          <i-button color="primary" label="Наведи на меня">
            <i-tooltip>
              Some text as content of Tooltip
            </i-tooltip>
          </i-button>
        </div>
      </div>
    </div>
  </q-page>
</template>

<style>

</style>

<script>
  import iTooltip from "../components/popups-modals/i-tooltip"
  import iButton from "../components/buttons/i-button"

  export default {
    components: {
      iTooltip,
      iButton,
    },
  }
</script>
