<template>
  <div
    class="help-tooltip"
    v-bind="$attrs"
  >
    <q-icon
      class="help-tooltip__icon"
      name="help"
      :size="size"
    />
    <i-tooltip>
      {{ text }}
    </i-tooltip>
  </div>
</template>

<style lang="stylus">
  .help-tooltip
    display: inline
    vertical-align: middle
    cursor: help
    &__icon
      color: $color6

</style>

<script>
  import iTooltip from './i-tooltip'

  export default {
    props: {
      text: String,
      size: {
        type: String,
        default: '16px'
      }
    },
    components: {
      iTooltip,
    }
  }
</script>
