<template>
  <q-dialog
    v-bind:value="value"
    v-on:input="input"
    v-bind:persistent="persistent"
    content-class="i-dialog"
  >
    <slot></slot>
  </q-dialog>
</template>

<script>
  import { QDialog } from "quasar"

  export default {
    props: {
      value: Boolean,
      persistent: Boolean,
    },
    methods: {
      input: function (value) {
        this.$emit('input', value);
      }
    },
    components: {
      QDialog
    },
  }
</script>

<style lang="stylus">
  .i-dialog
    & .q-dialog__inner > div
      min-width: 280px
      box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2)
      font-size: 15px
      letter-spacing: 0.27px
      line-height: 24px

    & .q-card__section
      padding: 24px 24px 10px 24px

    & .q-card__actions
      padding: 8px 16px

    & .q-card__section + .q-card__section
      padding-top: 0!important
</style>
