<template>
  <q-tooltip
    content-class="i-tooltip"
  >
    <slot></slot>
  </q-tooltip>
</template>

<script>
  import { QTooltip } from "quasar"

  export default {
    components: {
      QTooltip
    },
  }
</script>

<style lang="stylus">
  .i-tooltip
    background: $color17
    color: #FFF
    font-size: 12px
    letter-spacing: 0.4px
    line-height: 16px
    padding: 8px 12px
</style>
