<template>
  <q-checkbox
    class="i-checkbox"
    :color="color"
    :disable="disable"
    :label="label"
    :value="value"
    @input="input"
    v-bind="$attrs"
  />
</template>

<script>
  import { QCheckbox } from "quasar"

  export default {
    inheritAttrs: false,
    props: {
      label: String,
      disable: Boolean,
      color: String,
      value: [Boolean, String],
    },
    methods: {
      input: function (value) {
        this.$emit('input', value);
      },
    },
    components: {
      QCheckbox
    },
  }
</script>

<style lang="stylus">
  .i-checkbox
    &.q-checkbox--dense
      & .q-checkbox__label
        padding-left: 15px
    &.disabled
      & .q-checkbox
        &__inner
          color: $color6
        &__bg
          color: $color6
        &__label
          font-size: 14px
          letter-spacing: 1.26px
          line-height: 16px
    & .q-checkbox
      &__inner
        color: $color2

    &.q-checkbox:focus:not(.disabled) .q-checkbox__inner:before
      /*opacity: .12!important*/
      transform: scale3d(0, 0, 0)!important

    &.q-checkbox:hover:not(.disabled) .q-checkbox__inner:before
      opacity: .16
      transform: scale3d(1, 1, 1)!important

    & .q-checkbox__inner:before
      opacity: .16!important

    &.q-checkbox:hover:not(.disabled) .q-checkbox__inner--active.q-checkbox__inner:before
      opacity: .08

    &.q-checkbox:active:not(.disabled) .q-checkbox__inner:before
      opacity: .16!important
      transform: scale3d(1, 1, 1)

    & .q-checkbox__inner--active.q-checkbox__inner:before
      opacity: .08!important
</style>
