<template>
  <div
    class="i-input"
    v-bind:class="{
      'i-input_standard': modeParams.name === 'standard',
      'i-input_text': modeParams.name === 'text',
      'i-input_mini': modeParams.name === 'mini',
      'i-input_active': isActive,
      'i-input_disabled': disable,
      'i-input_required': required
    }"
  >
    <div
      v-if="label"
      class="i-input__label"
    >
      {{ label }}<span v-if="required">*</span>
    </div>
    <div class="i-input__content">
      <q-input
        ref="input"
        @focus="focus"
        @blur="focus"
        v-bind:placeholder="placeholder"
        v-bind:filled="modeParams.filled"
        v-bind:dense="modeParams.dense"
        v-bind:disable="disable"
        v-bind:maxlength="maxlength"
        v-bind:counter="counter"
        v-bind:readonly="readonly"
        v-bind:error-message="errorMessage"
        v-bind:error="error"
        v-bind:value="value"
        v-bind:type="type"
        v-bind:autogrow="autogrow"
        v-on:input="input"
        v-bind="$attrs"
        bottom-slots
        no-error-icon
      >
        <template
          v-slot:prepend
        >
          <slot name="prepend"></slot>
        </template>
        <template
          v-slot:append
        >
          <slot name="append"></slot>
        </template>
      </q-input>
      <div
        v-if="!error && maxlength && counter"
        class="i-input__hint text-right"
      >
        {{ limit() }}
      </div>
      <div
        v-if="hint && !error"
        class="i-input__hint"
      >
        {{ hint }}
      </div>
      <div
        v-if="error"
        class="i-input__error"
      >
        <transition
          v-show="error"
          appear
          enter-active-class="animated pulse"
        >
          <div>{{ errorMessage }}</div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
  import { QInput } from "quasar"

  export default {
    inheritAttrs: false,
    props: {
      label: String,
      placeholder: String,
      mode: String, // standard, text, table. Default: standard
      disable: Boolean,
      readonly: Boolean,
      autogrow: Boolean,
      hint: String,
      errorMessage: String,
      maxlength: {
        type: Number,
        default: null
      },
      counter: {
        type: Boolean,
        default: false
      },
      error: Boolean,
      required: Boolean,
      value: [String, Number],
      type: String,
    },
    data () {
      return {
        localValue: this.value,
        isActive: false,
        modeParams: {},
        standardMode: { // пропсы, которые присущи инпуту в стандартном моде отображения
          name: 'standard',
          filled: true,
          dense: true,
        },
        textMode: { // пропсы, которые присущи инпуту в текстовом моде отображения
          name: 'text',
          dense: true,
        },
        miniMode: { // пропсы, которые присущи инпуту в упрощенном моде отображения
          name: 'mini',
          filled: true,
          dense: true,
        },
      }
    },
    created () {
      this.selectMode();
    },
    methods: {
      selectMode: function () {
        switch (this.mode) {
          case 'text':
            this.modeParams = Object.assign(this.modeParams, this.textMode);
            break;
          case 'mini':
            this.modeParams = Object.assign(this.modeParams, this.miniMode);
            break;
          case 'standard':
          default:
            this.modeParams = Object.assign(this.modeParams, this.standardMode);
        }
      },
      input: function (value) {
        this.$emit('input', value);
      },
      focus: function () {
        this.isActive = !this.isActive;
      },
      limit: function () {
        return this.value.length?
          `${this.value.length}/${this.maxlength}`:
          null
      }
    },
    components: {
      QInput
    },
  }
</script>

<style lang="stylus">
  .i-input
    &_active &__hint
      color: $primary

    &_disabled
      .i-input__hint
        color: $color6
      & .q-field
        cursor not-allowed
      & .q-field--filled .q-field__control
        background: $color8!important

    &_required
      .i-input__label span
        color: $negative

    & .q-field
      &--filled
        & :hover
          & .q-field__control
            background: $color7
            &:before
              border-color: $color2
        & .q-field__control
          transition: background 0.36s cubic-bezier(0.4, 0, 0.2, 1)
          background: $color1
          padding: 0 12px 0 16px
          &:before
            transition: border-color 0.36s cubic-bezier(0.4, 0, 0.2, 1)
            background: initial
            border-bottom: 1px solid $color6
      &--float
        & .q-field__control
          &:before
            border-bottom: 1px solid $color2
      &--with-bottom
        padding-bottom: 4px
      &__bottom
        display: none

    &__label
      font-size: 10px
      letter-spacing: 0.93px
      line-height: 14px
      text-transform: uppercase
      padding-bottom 4px
      color: $color2
      font-weight: 500

    &__hint
      font-size: 12px
      letter-spacing: 0.4px
      line-height: 16px
      padding: 0 16px
      color: $color2

    &__error
      font-size: 12px
      letter-spacing: 0.4px
      line-height: 16px
      padding: 0 16px
      color: $negative1

    & .q-field--standard .q-field__control:before, .q-field--standard .q-field__control:after
      opacity: 0

    & .q-field--filled.q-field--readonly
      & .q-field__control:before, .q-field__control:after
        opacity: 0
      & .q-field__control
        border-radius: 4px

    & .q-field__prepend, .q-field__marginal
      padding-right 0

    & .q-field__native, .q-field__prefix, .q-field__suffix
      color: $color9
      font-size: 15px
      letter-spacing: 0.48px
      line-height: 24px
      padding: 5px 0 7px 0

    & .q-field__native
      text-overflow: ellipsis
      &::placeholder
        color: $color2

    &_standard
      & .q-field--filled .q-field__control:before
        opacity: 1

    &_mini
      & .q-field--filled .q-field__control:before
        opacity: 0
      & .q-field--filled .q-field__control
        border-radius: 4px

    &_text
      .i-input__hint, .i-input__error
        padding: 0

    &_text
      & .q-field__control:before, .q-field__control:after
        opacity: .5!important
        /*border-bottom: 1px solid $color6!important*/
        border-bottom: 0 !important
</style>
