<template>
  <q-radio
    class="i-radio"
    :color="color"
    :val="val"
    :disable="disable"
    :label="label"
    :value="value"
    @input="input"
    v-bind="$attrs"
  />
</template>

<script>
  import { QRadio } from "quasar"

  export default {
    inheritAttrs: false,
    props: {
      label: String,
      disable: Boolean,
      color: String,
      val: String,
      value: String,
    },
    methods: {
      input: function (value) {
        this.$emit('input', value);
      }
    },
    components: {
      QRadio
    },
  }
</script>

<style lang="stylus">
  .i-radio
    &.disabled
      & .q-radio
        &__inner
          color: $color6
        &__bg
          color: $color6
        &__label
          font-size: 14px
          letter-spacing: 1.26px
          line-height: 16px
    & .q-radio
      &__inner
        color: $color2
      
    &.q-radio:focus:not(.disabled) .q-radio__inner:before
      /*opacity: .12!important*/
      transform: scale3d(0, 0, 0)!important

    &.q-radio:hover:not(.disabled) .q-radio__inner:before
      opacity: .16
      transform: scale3d(1, 1, 1)!important

    & .q-radio__inner:before
      opacity: .16!important

    &.q-radio:hover:not(.disabled) .q-radio__inner--active.q-radio__inner:before
      opacity: .08

    &.q-radio:active:not(.disabled) .q-radio__inner:before
      opacity: .16!important
      transform: scale3d(1, 1, 1)

    & .q-radio__inner--active.q-radio__inner:before
      opacity: .08!important

</style>
