<template>
  <div
    class="i-select"
    v-bind:class="{
      'i-select_standard': modeParams.name === 'standard',
      'i-select_mini': modeParams.name === 'mini',
      'i-select_without-background': withoutBackground,
      'i-select_active': isActive,
      'i-select_disabled': disable,
      'i-select_required': required
    }"
  >
    <div
      v-if="label"
      class="i-select__label"
    >
      {{ label }}<span v-if="required">*</span>
    </div>
    <div class="i-select__content">
      <fixed-q-select
        ref="select"
        @focus="focus"
        @blur="focus"
        v-bind:placeholder="placeholder"
        v-bind:filled="modeParams.filled"
        v-bind:dense="modeParams.dense"
        v-bind:options-dense="modeParams.optionsDense"
        v-bind:disable="disable"
        v-bind:readonly="readonly"
        v-bind:error-message="errorMessage"
        v-bind:error="error"
        v-bind:options="options"
        v-bind:dropdown-icon="isActive ? 'arrow_drop_up' : 'arrow_drop_down'"
        v-bind="$attrs"
        v-on:input="input"
        v-on:filter="filter"
        no-error-icon
      >
        <template
          v-slot:append
        >
          <slot name="append"></slot>
        </template>
        <template
          v-slot:no-option
        >
          <slot name="no-option"></slot>
        </template>
      </fixed-q-select>
      <div
        v-if="hint && !error"
        class="i-select__hint"
      >
        {{ hint }}
      </div>
      <div
        v-if="error"
        class="i-select__error"
      >
        <transition
          v-show="error"
          appear
          enter-active-class="animated pulse"
        >
          <div>{{ errorMessage }}</div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
  import { fixedQSelect } from "../../fix/select"

  export default {
    props: {
      label: String,
      placeholder: String,
      mode: String, // standard, table. Default: standard
      disable: Boolean,
      readonly: Boolean,
      hint: String,
      errorMessage: String,
      error: Boolean,
      required: Boolean,
      options: Array,
      withoutBackground: Boolean,
    },
    data () {
      return {
        isActive: false,
        modeParams: {},
        standardMode: { // пропсы, которые присущи инпуту в стандартном моде отображения
          name: 'standard',
          filled: true,
          dense: true,
          optionsDense: true,
        },
        miniMode: { // пропсы, которые присущи инпуту в упрощенном моде отображения
          name: 'mini',
          filled: true,
          dense: true,
          optionsDense: true,
        },
      }
    },
    created () {
      this.selectMode();
    },
    methods: {
      selectMode: function () {
        switch (this.mode) {
          case 'mini':
            this.modeParams = Object.assign(this.modeParams, this.miniMode);
            break;
          case 'standard':
          default:
            this.modeParams = Object.assign(this.modeParams, this.standardMode);
        }
      },
      input: function (value) {
        this.$emit('input', value);
      },
      filter: function (val, update) {
        update(() => val);
        this.$emit('filter', val, update);
      },
      focus: function () {
        this.isActive = !this.isActive;
      }
    },
    components: {
      fixedQSelect
    },
  }
</script>

<style lang="stylus">
  .i-select
    &_disabled
      .i-select__hint
        color: $color6
      & .q-field
        cursor not-allowed
      & .q-field--filled .q-field__control
        background: $color8!important

    &_required
      .i-select__label span
        color: $negative

    &_active &__hint
      color: $primary

    &_active
      & .q-field__control
        box-shadow: 0 8px 10px 1px rgba(46,56,77,0.14), 0 3px 14px 2px rgba(46,56,77,0.12), 0 5px 5px -3px rgba(46,56,77,0.2)
      & .q-select__dropdown-icon
        color: $primary

    & .q-field
      &--filled
        & :hover
          & .q-field__control
            background: $color7
            &:before
              border-color: $color2
        & .q-field__control
          transition: background 0.36s cubic-bezier(0.4, 0, 0.2, 1)
          background: $color1
          padding: 0 12px 0 16px
          &:before
            transition: border-color 0.36s cubic-bezier(0.4, 0, 0.2, 1)
            background: initial
            border-bottom: 1px solid $color6
      &--float
        & .q-field__control
          &:before
            border-bottom: 1px solid $color2
      &--with-bottom
        padding-bottom: 4px
      &__bottom
        display: none

    &__label
      font-size: 10px
      letter-spacing: 0.93px
      line-height: 14px
      text-transform: uppercase
      padding-bottom 4px
      color: $color2
      font-weight: 500

    &__hint
      font-size: 12px
      letter-spacing: 0.4px
      line-height: 16px
      padding: 0 16px
      color: $color2

    &__error
      font-size: 12px
      letter-spacing: 0.4px
      line-height: 16px
      padding: 0 16px
      color: $negative1

    & .q-field--filled.q-field--readonly
      & .q-field__control:before, .q-field__control:after
        opacity: 0
      & .q-field__control
        border-radius: 4px

    & .q-select__placeholder
      text-overflow: ellipsis
      color: $color2

    & .q-field__native, .q-field__prefix, .q-field__suffix
      color: $color9
      font-size: 16px
      letter-spacing: 0.15px
      line-height: 24px
      padding: 5px 0 7px

    &_standard
      & .q-field--filled .q-field__control:before
        opacity: 1

    &_mini
      & .q-field--filled .q-field__control:before
        opacity: 0
      & .q-field--filled .q-field__control
        border-radius: 4px

    &_without-background .q-field--filled .q-field__control
      background: initial
  & .q-item.q-router-link--active, & .q-item--active
    color: $primary!important
    color: var(--q-color-primary)

  & .q-item
    color: $color10
    &__label
      font-size: 14px
      letter-spacing: 0.23px
      line-height: 20px
    &:hover
      background-color: $color5

  & .q-menu
    box-shadow: 0 8px 10px 1px rgba(46,56,77,0.14), 0 3px 14px 2px rgba(46,56,77,0.12), 0 5px 5px -3px rgba(46,56,77,0.2)
</style>
