<template>
  <div
    class="i-text"
  >
    <i-input
      mode="text"
      :label="label"
      :value="val"
      readonly
      borderless
    >
<!--      <template v-slot:append>-->
<!--        <q-icon name="o_visibility" />-->
<!--      </template>-->
    </i-input>
  </div>
</template>

<script>
  import iInput from './i-input'

  export default {
    props: [
      'label',
      'value',
    ],
    computed: {
      val: function () {
        switch (typeof this.value) {
          case 'boolean':
            return this.value ? this.$t('asText.true') : this.$t('asText.false');
          default:
            return this.value;
        }
      }
    },
    components: {
      iInput
    }
  }
</script>

<style lang="stylus">

</style>
