<template>
  <q-toggle
    class="i-toggle"
    v-bind:color="color"
    v-bind:disable="disable"
    v-bind:label="label"
    :value="value"
    @input="input"
    v-bind="$attrs"
  />
</template>

<script>
  import { QToggle } from "quasar"

  export default {
    inheritAttrs: false,
    props: {
      label: String,
      disable: Boolean,
      color: String,
      value: Boolean,
    },
    methods: {
      input: function (value) {
        this.$emit('input', value);
      }
    },
    components: {
      QToggle
    },
  }
</script>

<style lang="stylus">
  .i-toggle
    &.disabled
      & .q-toggle
        &__inner
          color: $color6
        &__bg
          color: $color6
    & .q-toggle
      &__label
        font-size: 13px
        letter-spacing: 0.42px
        line-height: 16px
      &__inner
        color: $color2
        &--active .q-toggle__track
          opacity: .32

    & .q-toggle.disabled
      opacity: 1!important

    &.q-toggle:focus:not(.disabled) .q-toggle__thumb:before
      /*opacity: .12!important*/
      transform: scale3d(0, 0, 0)!important

    &.q-toggle:hover:not(.disabled) .q-toggle__thumb:before
      opacity: .16
      transform: scale3d(2, 2, 2)!important

    & .q-toggle__thumb:before
      opacity: .16!important

    &.q-toggle:hover:not(.disabled) .q-toggle__inner--active .q-toggle__thumb:before
      opacity: .08

    &.q-toggle:active:not(.disabled) .q-toggle__thumb:before
      opacity: .16!important
      transform: scale3d(2, 2, 2)

    & .q-toggle__inner--active .q-toggle__thumb:before
      opacity: .08!important

    &.disabled .q-toggle__inner
      opacity: 1!important

    &.disabled .q-toggle__inner--active
      opacity: .68!important
</style>
