// app global css

html, body
  font-family: Rubik
  font-size: 15px
  letter-spacing: 0.48px
  line-height: 24px
  color: $color9

.doc-h2
  font-size: 1.1rem
  line-height: 1.1rem
  padding: 0.45rem 0
  margin: 2rem 0 1rem

.i-link
  color: $primary
  letter-spacing: 0.48px
  line-height: 24px
  text-decoration: none
  transition: color 0.36s cubic-bezier(0.4, 0, 0.2, 1)
  &:hover
    color: $color12

  &_dashed
    border-bottom: 1px dashed

.field
  padding: 0 0 21px 0
  &_last
    padding: 21px 0 0 0

.q-notification
  background: $color15
  font-size: 14.22px
  letter-spacing: 0.24px
  line-height: 20px
  &__actions
    color: $color16

.q-card
  box-shadow: 0 10px 20px 0 rgba(46,91,255,0.07)
  &__section
    padding: 37px 32px
  &__actions
    padding: 0 32px 60px 32px
    &_min
      padding: 0 47px 28px 47px

.i-form-card
  max-width: 672px
  min-width: 256px

.text-h6
  font-size: 20px
  letter-spacing: 0.37px
  line-height: 24px
  color: $color9

#q-app
  background: $color1

@media (min-width: 0)
  .i-col-2
    &_left
      padding-right: 0
    &_right
      padding-left: 0

@media (min-width: 600px)
  .i-col-2
    &_left
      padding-right: 16px
    &_right
      padding-left: 16px

@media (min-width: 1024px)
  .i-col-2
    &_left
      padding-right: 32px
    &_right
      padding-left: 32px

h1
  font-size: 26px
  line-height: 31px
  color: $color10
  font-weight: 400

h2
  font-size: 20px
  letter-spacing: 0.37px
  line-height: 24px
  color: $color9
  font-weight: 500
  margin: 0 0 19px 0

h3
  font-size: 17px
  letter-spacing: 0.37px
  line-height: 24px
  color: $color9
  font-weight: 500
  margin: 0 0 19px 0

.h2_avatar
  display: flex
  align-items: center

  & .q-avatar
    margin-right: 16px

.sub-h2
  margin-top: -18px
  margin-bottom: 15px
  &_colored
    color: $color27

.i-inner-loading
  z-index: 2
  min-height: 100px
  background: $color1-opacity

.i-chip-group
  margin: 0 -4px 12px -4px

.i-chip
  &.q-chip
    color: $color9
    font-size: 13px
    letter-spacing: 0.22px
    line-height: 20px
    border-color: rgba(0, 0, 0, 0.12)
    border-radius: 4px

  &_white
    background: white!important

  & .q-chip__icon
    color: $color6

  & .q-chip__icon:hover
    color: $color2

  & .q-chip__icon--remove
    margin-left: 4px

  &.q-chip--clickable
    font-weight: 500
    color: $color10
    padding: 7px 30px

  &.q-chip--clickable:focus
    border-color: $primary
    color: $primary
    background: $ripple
    box-shadow: none !important

  &.q-chip--clickable:hover
    background: $color14

  &.q-chip--clickable:active
    border-color: rgba(0, 0, 0, 0.12)
    background: #FFF !important
    color: $color10

  &.q-chip--clickable:active.q-hoverable:hover > .q-focus-helper:after
    opacity: 1

  &.disabled
    font-weight: 500
    opacity: 1 !important
    color: $color13
