// MARGIN TOP
.i-mt-0
  margin-top 0

.i-mt-8
  margin-top 10px

.i-mt-10
  margin-top 10px

.i-mt-12
  margin-top 12px

.i-mt-14
  margin-top 14px

.i-mt-16
  margin-top 16px

.i-mt-18
  margin-top 18px

.i-mt-20
  margin-top 20px

.i-mt-22
  margin-top 22px

.i-mt-24
  margin-top 24px

.i-mt-32
  margin-top 32px

.i-mt-76
  margin-top 76px


// MARGIN RIGHT
.i-mr-0
  margin-right 0

.i-mr-8
  margin-right 8px

.i-mr-10
  margin-right 10px

.i-mr-12
  margin-right 12px

.i-mr-14
  margin-right 14px

.i-mr-16
  margin-right 16px

.i-mr-18
  margin-right 18px

.i-mr-20
  margin-right 20px

.i-mr-22
  margin-right 22px

.i-mr-24
  margin-right 24px

.i-mr-32
  margin-right 32px

.i-mr-76
  margin-right 76px


// MARGIN BOTTOM
.i-mb-0
  margin-bottom 0

.i-mb-8
  margin-bottom 8px

.i-mb-10
  margin-bottom 10px

.i-mb-12
  margin-bottom 12px

.i-mb-14
  margin-bottom 14px

.i-mb-16
  margin-bottom 16px

.i-mb-18
  margin-bottom 18px

.i-mb-20
  margin-bottom 20px

.i-mb-22
  margin-bottom 22px

.i-mb-24
  margin-bottom 24px

.i-mb-32
  margin-bottom 32px

.i-mb-76
  margin-bottom 76px


// MARGIN LEFT
.i-ml-0
  margin-left 0

.i-ml-8
  margin-left 8px

.i-ml-10
  margin-left 10px

.i-ml-12
  margin-left 12px

.i-ml-14
  margin-left 14px

.i-ml-16
  margin-left 16px

.i-ml-18
  margin-left 18px

.i-ml-20
  margin-left 20px

.i-ml-22
  margin-left 22px

.i-ml-24
  margin-left 24px

.i-ml-32
  margin-left 32px

.i-ml-76
  margin-left 76px


// MARGIN Y
.i-my-0
  @extend .i-mt-0
  @extend .i-mb-0

.i-my-8
  @extend .i-mt-8
  @extend .i-mb-8

.i-my-10
  @extend .i-mt-10
  @extend .i-mb-10

.i-my-12
  @extend .i-mt-12
  @extend .i-mb-12

.i-my-14
  @extend .i-mt-14
  @extend .i-mb-14

.i-my-16
  @extend .i-mt-16
  @extend .i-mb-16

.i-my-18
  @extend .i-mt-18
  @extend .i-mb-18

.i-my-20
  @extend .i-mt-20
  @extend .i-mb-20

.i-my-22
  @extend .i-mt-22
  @extend .i-mb-22

.i-my-24
  @extend .i-mt-24
  @extend .i-mb-24

.i-my-32
  @extend .i-mt-32
  @extend .i-mb-32

.i-my-76
  @extend .i-mt-76
  @extend .i-mb-76

// MARGIN X
.i-mx-0
  @extend .i-ml-0
  @extend .i-mr-0

.i-mx-8
  @extend .i-ml-8
  @extend .i-mr-8

.i-mx-10
  @extend .i-ml-10
  @extend .i-mr-10

.i-mx-12
  @extend .i-ml-12
  @extend .i-mr-12

.i-mx-14
  @extend .i-ml-14
  @extend .i-mr-14

.i-mx-16
  @extend .i-ml-16
  @extend .i-mr-16

.i-mx-18
  @extend .i-ml-18
  @extend .i-mr-18

.i-mx-20
  @extend .i-ml-20
  @extend .i-mr-20

.i-mx-22
  @extend .i-ml-22
  @extend .i-mr-22

.i-mx-24
  @extend .i-ml-24
  @extend .i-mr-24

.i-mx-32
  @extend .i-ml-32
  @extend .i-mr-32

.i-mx-76
  @extend .i-ml-76
  @extend .i-mr-76

// MARGIN ALL
.i-ma-0
  margin 0

.i-ma-8
  margin 8px

.i-ma-10
  margin 10px

.i-ma-12
  margin 12px

.i-ma-14
  margin 14px

.i-ma-16
  margin 16px

.i-ma-18
  margin 18px

.i-ma-20
  margin 20px

.i-ma-22
  margin 22px

.i-ma-24
  margin 24px

.i-ma-32
  margin 32px

.i-ma-76
  margin 76px


// PADDING TOP
.i-pt-0
  padding-top 0

.i-pt-8
  padding-top 8px

.i-pt-10
  padding-top 8px

.i-pt-12
  padding-top 12px

.i-pt-14
  padding-top 14px

.i-pt-16
  padding-top 16px

.i-pt-18
  padding-top 18px

.i-pt-20
  padding-top 20px

.i-pt-22
  padding-top 22px

.i-pt-24
  padding-top 24px

.i-pt-32
  padding-top 32px

.i-pt-76
  padding-top 76px


// PADDING RIGHT
.i-pr-0
  padding-right 0

.i-pr-8
  padding-right 8px

.i-pr-10
  padding-right 8px

.i-pr-12
  padding-right 12px

.i-pr-14
  padding-right 14px

.i-pr-16
  padding-right 16px

.i-pr-18
  padding-right 18px

.i-pr-20
  padding-right 20px

.i-pr-22
  padding-right 22px

.i-pr-24
  padding-right 24px

.i-pr-32
  padding-right 32px

.i-pr-76
  padding-right 76px


// PADDING BOTTOM
.i-pb-0
  padding-bottom 0

.i-pb-8
  padding-bottom 8px

.i-pb-10
  padding-bottom 8px

.i-pb-12
  padding-bottom 12px

.i-pb-14
  padding-bottom 14px

.i-pb-16
  padding-bottom 16px

.i-pb-18
  padding-bottom 18px

.i-pb-20
  padding-bottom 20px

.i-pb-22
  padding-bottom 22px

.i-pb-24
  padding-bottom 24px

.i-pb-32
  padding-bottom 32px

.i-pb-76
  padding-bottom 76px


// PADDING LEFT
.i-pl-0
  padding-left 0

.i-pl-8
  padding-left 8px

.i-pl-10
  padding-left 8px

.i-pl-12
  padding-left 12px

.i-pl-14
  padding-left 14px

.i-pl-16
  padding-left 16px

.i-pl-18
  padding-left 18px

.i-pl-20
  padding-left 20px

.i-pl-22
  padding-left 22px

.i-pl-24
  padding-left 24px

.i-pl-32
  padding-left 32px

.i-pl-76
  padding-left 76px

// PADDING Y
.i-py-0
  @extend .i-pt-0
  @extend .i-pb-0

.i-py-8
  @extend .i-pt-8
  @extend .i-pb-8

.i-py-10
  @extend .i-pt-10
  @extend .i-pb-10

.i-py-12
  @extend .i-pt-12
  @extend .i-pb-12

.i-py-14
  @extend .i-pt-14
  @extend .i-pb-14

.i-py-16
  @extend .i-pt-16
  @extend .i-pb-16

.i-py-18
  @extend .i-pt-18
  @extend .i-pb-18

.i-py-20
  @extend .i-pt-20
  @extend .i-pb-20

.i-py-22
  @extend .i-pt-22
  @extend .i-pb-22

.i-py-24
  @extend .i-pt-24
  @extend .i-pb-24

.i-py-32
  @extend .i-pt-32
  @extend .i-pb-32

.i-py-76
  @extend .i-pt-76
  @extend .i-pb-76

// PADDING X
.i-px-0
  @extend .i-pl-0
  @extend .i-pr-0

.i-px-8
  @extend .i-pl-8
  @extend .i-pr-8

.i-px-10
  @extend .i-pl-10
  @extend .i-pr-10

.i-px-12
  @extend .i-pl-12
  @extend .i-pr-12

.i-px-14
  @extend .i-pl-14
  @extend .i-pr-14

.i-px-16
  @extend .i-pl-16
  @extend .i-pr-16

.i-px-18
  @extend .i-pl-18
  @extend .i-pr-18

.i-px-20
  @extend .i-pl-20
  @extend .i-pr-20

.i-px-22
  @extend .i-pl-22
  @extend .i-pr-22

.i-px-24
  @extend .i-pl-24
  @extend .i-pr-24

.i-px-32
  @extend .i-pl-32
  @extend .i-pr-32

.i-px-76
  @extend .i-pl-76
  @extend .i-pr-76

// PADDING ALL
.i-pa-0
  padding 0

.i-pa-8
  padding 8px

.i-pa-10
  padding 10px

.i-pa-12
  padding 12px

.i-pa-14
  padding 14px

.i-pa-16
  padding 16px

.i-pa-18
  padding 18px

.i-pa-20
  padding 20px

.i-pa-22
  padding 22px

.i-pa-24
  padding 24px

.i-pa-32
  padding 32px

.i-pa-76
  padding 76px


//// ------ IMPORTANT ------

// MARGIN TOP
.i-mt-0-i
  margin-top 0 !important

.i-mt-10-i
  margin-top 10px !important

.i-mt-12-i
  margin-top 12px !important

.i-mt-14-i
  margin-top 14px !important

.i-mt-16-i
  margin-top 16px !important

.i-mt-18-i
  margin-top 18px !important

.i-mt-20-i
  margin-top 20px !important

.i-mt-22-i
  margin-top 22px !important

.i-mt-24-i
  margin-top 24px !important

.i-mt-32-i
  margin-top 32px !important

.i-mt-76-i
  margin-top 76px !important


// MARGIN RIGHT
.i-mr-0-i
  margin-right 0 !important

.i-mr-8-i
  margin-right 8px !important

.i-mr-10-i
  margin-right 10px !important

.i-mr-12-i
  margin-right 12px !important

.i-mr-14-i
  margin-right 14px !important

.i-mr-16-i
  margin-right 16px !important

.i-mr-18-i
  margin-right 18px !important

.i-mr-20-i
  margin-right 20px !important

.i-mr-22-i
  margin-right 22px !important

.i-mr-24-i
  margin-right 24px !important

.i-mr-32-i
  margin-right 32px !important

.i-mr-76-i
  margin-right 76px !important


// MARGIN BOTTOM
.i-mb-0-i
  margin-bottom 0 !important

.i-mb-8-i
  margin-bottom 8px !important

.i-mb-10-i
  margin-bottom 10px !important

.i-mb-12-i
  margin-bottom 12px !important

.i-mb-14-i
  margin-bottom 14px !important

.i-mb-16-i
  margin-bottom 16px !important

.i-mb-18-i
  margin-bottom 18px !important

.i-mb-20-i
  margin-bottom 20px !important

.i-mb-22-i
  margin-bottom 22px !important

.i-mb-24-i
  margin-bottom 24px !important

.i-mb-32-i
  margin-bottom 32px !important

.i-mb-76-i
  margin-bottom 76px !important


// MARGIN LEFT
.i-ml-0-i
  margin-left 0 !important

.i-mb-8-i
  margin-left 8px !important

.i-ml-10-i
  margin-left 10px !important

.i-ml-12-i
  margin-left 12px !important

.i-ml-14-i
  margin-left 14px !important

.i-ml-16-i
  margin-left 16px !important

.i-ml-18-i
  margin-left 18px !important

.i-ml-20-i
  margin-left 20px !important

.i-ml-22-i
  margin-left 22px !important

.i-ml-24-i
  margin-left 24px !important

.i-ml-32-i
  margin-left 32px !important

.i-ml-76-i
  margin-left 76px !important


// MARGIN ALL
.i-ma-0-i
  margin 0 !important

.i-ma-8-i
  margin 8px !important

.i-ma-10-i
  margin 10px !important

.i-ma-12-i
  margin 12px !important

.i-ma-14-i
  margin 14px !important

.i-ma-16-i
  margin 16px !important

.i-ma-18-i
  margin 18px !important

.i-ma-20-i
  margin 20px !important

.i-ma-22-i
  margin 22px !important

.i-ma-24-i
  margin 24px !important

.i-ma-32-i
  margin 32px !important

.i-ma-76-i
  margin 76px !important


// PADDING TOP
.i-pt-0-i
  padding-top 0 !important

.i-pt-8-i
  padding-top 8px !important

.i-pt-10-i
  padding-top 8px !important

.i-pt-12-i
  padding-top 12px !important

.i-pt-14-i
  padding-top 14px !important

.i-pt-16-i
  padding-top 16px !important

.i-pt-18-i
  padding-top 18px !important

.i-pt-20-i
  padding-top 20px !important

.i-pt-22-i
  padding-top 22px !important

.i-pt-24-i
  padding-top 24px !important

.i-pt-32-i
  padding-top 32px !important

.i-pt-76-i
  padding-top 76px !important


// PADDING RIGHT
.i-pr-0-i
  padding-right 0 !important

.i-pr-8-i
  padding-right 8px !important

.i-pr-10-i
  padding-right 8px !important

.i-pr-12-i
  padding-right 12px !important

.i-pr-14-i
  padding-right 14px !important

.i-pr-16-i
  padding-right 16px !important

.i-pr-18-i
  padding-right 18px !important

.i-pr-20-i
  padding-right 20px !important

.i-pr-22-i
  padding-right 22px !important

.i-pr-24-i
  padding-right 24px !important

.i-pr-32-i
  padding-right 32px !important

.i-pr-76-i
  padding-right 76px !important


// PADDING BOTTOM
.i-pb-0-i
  padding-bottom 0 !important

.i-pb-8-i
  padding-bottom 8px !important

.i-pb-10-i
  padding-bottom 8px !important

.i-pb-12-i
  padding-bottom 12px !important

.i-pb-14-i
  padding-bottom 14px !important

.i-pb-16-i
  padding-bottom 16px !important

.i-pb-18-i
  padding-bottom 18px !important

.i-pb-20-i
  padding-bottom 20px !important

.i-pb-22-i
  padding-bottom 22px !important

.i-pb-24-i
  padding-bottom 24px !important

.i-pb-32-i
  padding-bottom 32px !important

.i-pb-76-i
  padding-bottom 76px !important


// PADDING LEFT
.i-pl-0-i
  padding-left 0 !important

.i-pl-8-i
  padding-left 8px !important

.i-pl-10-i
  padding-left 8px !important

.i-pl-12-i
  padding-left 12px !important

.i-pl-14-i
  padding-left 14px !important

.i-pl-16-i
  padding-left 16px !important

.i-pl-18-i
  padding-left 18px !important

.i-pl-20-i
  padding-left 20px !important

.i-pl-22-i
  padding-left 22px !important

.i-pl-24-i
  padding-left 24px !important

.i-pl-32-i
  padding-left 32px !important

.i-pl-76-i
  padding-left 76px !important


// PADDING ALL
.i-pa-0-i
  padding 0 !important

.i-pa-8-i
  padding 8px !important

.i-pa-10-i
  padding 10px !important

.i-pa-12-i
  padding 12px !important

.i-pa-14-i
  padding 14px !important

.i-pa-16-i
  padding 16px !important

.i-pa-18-i
  padding 18px !important

.i-pa-20-i
  padding 20px !important

.i-pa-22-i
  padding 22px !important

.i-pa-24-i
  padding 24px !important

.i-pa-32-i
  padding 32px !important

.i-pa-76-i
  padding 76px !important
