<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Innervate Design
        </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Form controls</q-item-label>
        <q-item to="/" exact>
          <q-item-section>
            <q-item-label>Input</q-item-label>
          </q-item-section>
        </q-item>
        <q-item to="/select" exact>
          <q-item-section>
            <q-item-label>Select</q-item-label>
          </q-item-section>
        </q-item>
        <q-item to="/checkbox" exact>
          <q-item-section>
            <q-item-label>Checkbox</q-item-label>
          </q-item-section>
        </q-item>
        <q-item to="/radio" exact>
          <q-item-section>
            <q-item-label>Radio</q-item-label>
          </q-item-section>
        </q-item>
        <q-item to="/toggle" exact>
          <q-item-section>
            <q-item-label>Toggle</q-item-label>
          </q-item-section>
        </q-item>
        <q-item to="/text" exact>
          <q-item-section>
            <q-item-label>Text</q-item-label>
          </q-item-section>
        </q-item>
        <q-item-label header>Buttons</q-item-label>
        <q-item to="/button" exact>
          <q-item-section>
            <q-item-label>Button</q-item-label>
          </q-item-section>
        </q-item>
        <q-item to="/chip" exact>
          <q-item-section>
            <q-item-label>Chip</q-item-label>
          </q-item-section>
        </q-item>
        <q-item-label header>Navigation</q-item-label>
        <q-item to="/link" exact>
          <q-item-section>
            <q-item-label>Link</q-item-label>
          </q-item-section>
        </q-item>
        <q-item-label header>Layout</q-item-label>
        <q-item to="/table" exact>
          <q-item-section>
            <q-item-label>Table</q-item-label>
          </q-item-section>
        </q-item>
        <q-item to="/tab" exact>
          <q-item-section>
            <q-item-label>Tab</q-item-label>
          </q-item-section>
        </q-item>
        <q-item to="/timeline" exact>
          <q-item-section>
            <q-item-label>Timeline</q-item-label>
          </q-item-section>
        </q-item>
        <q-item to="/banner" exact>
          <q-item-section>
            <q-item-label>Banner</q-item-label>
          </q-item-section>
        </q-item>
        <q-item-label header>Popups & Modals</q-item-label>
        <q-item to="/dialog" exact>
          <q-item-section>
            <q-item-label>Dialog</q-item-label>
          </q-item-section>
        </q-item>
        <q-item to="/tooltip" exact>
          <q-item-section>
            <q-item-label>Tooltip</q-item-label>
          </q-item-section>
        </q-item>
        <q-item-label header>Quasar Plugins</q-item-label>
        <q-item to="/notify" exact>
          <q-item-section>
            <q-item-label>Notify</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
